@charset "UTF-8";

body {
    background-color: rgb(29, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

h1 {
    background-color: rgb(43, 43, 43);
    text-align: center;
}

h2 {
    background-color: rgb(51, 51, 51);
}

p {
    text-align: justify;
}