@charset "UTF-8";

body {
    background-color: rgb(176, 255, 176);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(52, 117, 52);
}

h1#principal {
    text-align: center;
    color: rgb(102, 150, 79);
    background-color: rgb(0, 59, 0);
}

/* em html é "id", em css é "#"
   em html é "class", em css é "."
*/

h2 {
    color: rgb(46, 71, 46);
}