@charset "UTF-8";

body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
    margin: 0px;
}

main {
    background-color: white;
    min-width: 300px;
    min-height: 10vh;
    border-radius: 10px;
}

h1 {
    background-color: rgb(37, 70, 255);
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

div#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    padding: 5px;
}

div#user {
    display: block;
    padding-bottom: 10px;
}

div#senha {
    padding-bottom: 15px;
}

div#enviar {
    text-align: center;
}