@charset "UTF-8";

body {

    background-image: linear-gradient(to bottom, #B1D9CE 20%, #89B1A7, #618886);
    background-attachment: fixed;

    * {
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }
}

main {
    background-color: white;
    margin: auto;
    border-radius: 2%;
    width: 1300px;
    padding: 10px;
    box-shadow: 3px 3px 15px rgba(67, 94, 92, 0.698);

}

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(7, 72, 83);
    text-shadow: 2px 2px 3px rgba(8, 62, 71, 0.685);
}

h2 {
    color: rgb(50, 77, 95);
}

p {
    color: rgb(55, 96, 99);
    font-size: 20px;
}
